<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.ecargo.mapper.CodeMapper">
	<select id="findParentCodeAll" parameterType="com.boss.core.pojo.CodePojo" resultType="com.boss.core.db.Code">
		SELECT 
			ID,
			NAME,
			VALUE 
		FROM 
			J_CODE 
		WHERE 
			PID IS NULL
		<if test="parentName != null and parentName != '' ">
			AND LOCATE(name,#{parentName})
		</if>
	</select>
	<select id="findCodeAll" parameterType="com.boss.core.db.Code" resultType="com.boss.core.db.Code" >
		SELECT 
			id,
			`name`,
			`value`,
			pid,
			`index`
		FROM 
			J_CODE
	</select>
	
	<insert id="addCode" parameterType="com.boss.core.db.Code">
		<choose>
			<when test=" pid == null and pid == '' ">
				INSERT INTO 
					j_code (
							id,
							create_time,
							create_by,
							last_update_time,
							last_update_by,
							rowstate,
							version,
							`name`,
							`value`,
							`index`
							) 
				VALUE(
						#{id},
						#{createTime},
						#{createBy},
						#{last_update_time},
						#{last_update_by},
						#{rowstate},
						#{version},
						#{name},
						#{value},
						#{index})
			</when>
			<otherwise>
				INSERT INTO 
					j_code (
							id,
							create_time,
							create_by,
							last_update_time,
							last_update_by,
							rowstate,
							`version`,
							`name`,
							`value`,
							`index`,
							pid) 
				VALUE(
						#{id},
						NOW(),
						'system',
						NOW(),
						'system',
						1,
						1,
						#{name},
						#{value},
						#{index},
						#{pid})
			</otherwise>
		</choose>
	</insert>
	
	<update id="updateCode" parameterType="com.boss.core.db.Code">
	 	UPDATE 
	 		J_CODE 
	 	SET 
	 		LAST_UPDATE_TIME = NOW(),
	 		LAST_UPDATE_BY = 'system',
	 		`NAME` = #{name},
	 		`VALUE` = #{value}
	 	WHERE 
	 		ID = #{id}
	</update>
	
	<delete id="deleteCode" parameterType="java.lang.String">
		DELETE FROM 
			J_CODE 
		WHERE 
			ID=#{id} 
		OR 
			PID=#{id}
	</delete>
</mapper>