<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.user.mapper.UserRoleMapper">
	<insert id="insertUserRole" parameterType="com.boss.core.db.UserRole">
	INSERT INTO 
	 			j_user_role
	 					(
	    					 id ,
	    					 create_time,
    						 create_by,
    						 last_update_time,
    						 last_update_by,
    						 version,
    						 rowstate,
    						 user_id,
                             role_id
    				     )
    VALUE
    					(
    					     #{id},
	    					 #{createTime},
    						 #{createBy},
    						 #{lastUpdateTime},
    						 #{lastUpdateBy},
    						 #{version},
    						 #{rowstate},
    						 #{userId},
    						 #{roleId}
    					)
	</insert>
	
	<update id="updateUserRoleByUserId" parameterType="com.boss.core.db.UserRole">
	 UPDATE 
	 			j_user_role
	 <trim prefix="set" suffixOverrides=",">
	 <if test="lastUpdateBy != null and lastUpdateBy != '' ">
		   last_update_by = #{lastUpdateBy},
		</if>
		<if test="lastUpdateTime != null and lastUpdateTime != '' ">
		last_update_time=#{lastUpdateTime},
		</if>
		<if test="roleId != null and roleId != ''">
		role_id=#{roleId},
		</if>
		</trim>
	  <where>
		<if test="userId != null and userId != ''">
		 AND user_id=#{userId}
		</if>
	  </where>
	          
	</update>
	<delete id="deleteUserRole" parameterType="java.lang.String">
	delete from j_user_role where user_id=#{userId}
	</delete>
</mapper>